<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!--<link rel="icon" type="image/png" href="images/botAvatar.png" ></link>-->
<head>
    <title>Расписание</title>
</head>
<body id="mainBody">
<h1 >Расписание междугородних автобусов</h1>
<p th:text="${tableDescription}"></p>



</body>


<script th:inline="javascript">

    // Add scheduler table string to this page.
    function addTableToHtmtl() {
        var table = [[${schedulerTable}]];

        var div = document.createElement('div');
        div.innerHTML = table;

        document.body.appendChild(div);
    }

    // Add description to scheduler table.
    function addSchedulerTableDescription() {
        var description = [[${schedulerTableDescription}]];

        description = description;

        var div = document.createElement('div');
        div.innerHTML = description;

        document.body.appendChild(div);
    }


    addTableToHtmtl();
    addSchedulerTableDescription();

</script>

</html>